# 8.2 Twitter API

- <a href='#8.1.'>8.1. Generate Twitter API Key</a>
- <a href='#8.2.'>8.2. Tweepy </a> 
     - <a href='#8.2.1.'>8.2.1. Get tweets in a date range </a> 
- <a href='#8.3.'>8.3. Request tweet </a>  
     - <a href='#8.3.1.'>8.3.1. Getting ID of username - jmwooldridge</a> 
     - <a href='#8.3.2.'>Getting Tweets Timeline - jmwooldridge</a> 
- <a href='#8.4.'>8.4. References</a>

In [1]:
# For sending GET requests from the API
import requests
# For saving access tokens and for file management when creating and adding to the dataset
import os
# For dealing with json responses we receive from the API
import json
# For displaying the data after
import pandas as pd
# For saving the response data in CSV format
import csv
# For parsing the dates received from twitter in readable formats
import datetime
import dateutil.parser
import unicodedata
#To add wait time between requests
import time

## <a id='8.1.'>8.1. Generate Twitter API Key</a>

All you need to do is create a project and connect an App through the developer portal and we are set to go!

1. Go to the developer [portal dashboard](https://developer.twitter.com/en/portal/dashboard).
2. Sign in with your developer account.
3. Create a new project, give it a name, a use-case based on the goal you want to achieve, and a description.
<img src="../_images/1_twitter.png" />

4. Assuming this is your first time, choose ‚Äòcreate a new App instead‚Äô and give your App a name in order to create a new App.
<img src="../_images/2_twitter.png" />

5. If everything is successful, you should be able to see this page containing your keys and tokens, we will use one of these to access the API.
<img src="../_images/3_twitter.png" />

### <a id='8.2.'>8.2. Tweepy </a>

In [260]:
import tweepy
consumer_key = "nAz3CGiRtUnpBTr1VZXJNOKX5"
consumer_secret = "yP8ddEY5jJmhVotfsif296H4aNrXLlQwwrxGBFrjYVTjad7cmL"
auth = tweepy.OAuthHandler( consumer_key, consumer_secret )

access_token = "1270850339223343105-mkzWYtAxbbeQ0w0LmqhDMJsj8P20FE"
access_token_secret = "T6Pzkva7TgPYI3JSdgzTreMrdHLqwYZTwVySYS7gdpmuu"
auth.set_access_token( access_token, access_token_secret )

api = tweepy.API(auth)

Get Timeline of user

In [261]:
# Get Timeline
public_tweets = api.home_timeline()
for tweet in public_tweets:
    print( tweet.text )

RT @Porkchop_EXP: Become unbullyable.
RT @QuasiFinance: Moore's law is too complex to be able for Us to differentiate whether the growth is logistic, exponential or hyperbolic..‚Ä¶
Ecosystem orchestrators can create an effective governance model by working through the questions for each of the f‚Ä¶ https://t.co/jHJ0ssRLf7
RT @ezra_marc: for content creators who are always told no in this world https://t.co/7kS2Yf81am
Lies aren't necessarily lies but they are manipulations.

Example, Federal Reserve is manipulating outcomes through‚Ä¶ https://t.co/UEUcUHeJEl
Other times fees would be higher than the regulations allowed for, or fees would be charged for ATM cards when open‚Ä¶ https://t.co/574LE4LEEq
RT @stelifanie: 1st year PhD student after their first semester: ‚ÄúIt was tough, but at least I‚Äôm doing what I love.‚Äù https://t.co/mgPzUXgVRR
RT @JStein_WaPo: The most consequential antipoverty component of Biden's Child Tax Credit -- full benefits to non-earners -- is very cheap‚Ä¶
üö®#UnidosPorAmazonas | Te mostramos un resumen del trabajo que #INDECI y el sector Defensa realizan en las zonas afe‚Ä¶ https://t.co/dapfXNtOns
RT @jmorenocruz: I am very late to this, but @CharlesCMann‚Äôs book ‚Äúthe wizard and the prophet‚Äù is required reading for everyone concerned w‚Ä¶
RT @DrKatLiang: Been thinking about this article all week, today a thought for #womeninSTEM @Momademia - when will it be possible to celebr‚Ä¶
Gen Zers relied on buy now-pay later for holiday shopping. It's time to pay up. https://t.co/yIZZbEtokR‚Ä¶ https://t.co/TjLfBsBvtc
RT @JSEllenberg: Yet another editorial board dumps Elsevier and launches a new open-access journal, this time in combinatorics: https://t.c‚Ä¶
problem solved https://t.co/xyf2CGy1q3
RT @LongFormMath: If you are trying to teach your students how to use LaTeX, what resources do you share with them?

I've heard people reco‚Ä¶
RT @blengyelb: ‚ÄûInnovative mergers and acquisitions and the broker regions of European integration‚Äù new OA paper with Michele Aquaro and Gi‚Ä¶
One of those "everyone is way more successful than me" days...
(But at least I have a cute puppy keeping me warm!)
RT @pakalupapitow: 2019: coughing to hide a fart
2021: farting to hide a cough
as what i'm sure is a completely unrelated matter i ran out of my regular coffee a couple days ago
When we could get information, often it was inconsistent, and even after that the information we were given often d‚Ä¶ https://t.co/sjT6UXJYpN

Getting tweets from [Judea Pearl](https://twitter.com/yudapearl).

In [262]:
userID = "yudapearl"

In [282]:
# Set uttils
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Set API
api = tweepy.API(auth)

# Get Tweets
tweets_bi = api.user_timeline(screen_name = userID, 
                           # 200 is the maximum allowed count
                           count = 100,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )

In [283]:
print( tweets_bi[0].id )
print( tweets_bi[0].created_at )
print( tweets_bi[0].full_text )

1471419526973587457
2021-12-16 09:58:47
Sharing my inspiration for the day: Daniel Pearl Magnet High School production of 2021 World Music Day:
Enjoy:
 https://t.co/zNOP1WR6nP

In [284]:
for info in tweets_bi[:3]:
     print("ID: {}".format(info.id))
     print(info.created_at)
     print(info.full_text)
     print("\n")

ID: 1471419526973587457
2021-12-16 09:58:47
Sharing my inspiration for the day: Daniel Pearl Magnet High School production of 2021 World Music Day:
Enjoy:
 https://t.co/zNOP1WR6nP


ID: 1471414616030781442
2021-12-16 09:39:16
Some say, and I'm inclined to agree, that recent tweets from the new Bundists (eg @IfNotNowOrg ) are but gasping attempts to rise from the dustbin of history and shake their guilt over betraying their European brethren. Israel's demise would prove them right - so they hope. https://t.co/Mm7VMuReRj


ID: 1471345841231171584
2021-12-16 05:05:59
@JLinAffect Good question.
(1) Deep understanding, namely, ability to answer questions from all three rungs of the ladder
(2) Social Intelligence, namely, ability to understand (ie, answer such questions about) other agents,

In [292]:
tweets_bi[0].full_text

'Sharing my inspiration for the day: Daniel Pearl Magnet High School production of 2021 World Music Day:\nEnjoy:\n https://t.co/zNOP1WR6nP'

In [296]:
from pandas import DataFrame
outtweets = [[tweet.id_str, 
              tweet.created_at, 
              tweet.favorite_count, 
              tweet.retweet_count, 
              tweet.full_text.encode("utf-8").decode("utf-8")] 
             for idx,tweet in enumerate(tweets_bi)]
df = DataFrame(outtweets,columns=["id","created_at","favorite_count","retweet_count", "text"])
df.to_csv( f'{userID}_tweets.csv', index = False )
df.head(3)

,id,created_at,favorite_count,retweet_count,text
0,1471419526973587457,2021-12-16 09:58:47,16,1,Sharing my inspiration for the day: Daniel Pea...
1,1471414616030781442,2021-12-16 09:39:16,9,0,"Some say, and I'm inclined to agree, that rece..."
2,1471345841231171584,2021-12-16 05:05:59,5,2,@JLinAffect Good question.\n(1) Deep understan...

In [267]:
df

,id,created_at,favorite_count,retweet_count,text
0,1471419526973587457,2021-12-16 09:58:47,16,1,Sharing my inspiration for the day: Daniel Pea...
1,1471414616030781442,2021-12-16 09:39:16,9,0,"Some say, and I'm inclined to agree, that rece..."
2,1471345841231171584,2021-12-16 05:05:59,5,2,@JLinAffect Good question.\n(1) Deep understan...
3,1471327991506485250,2021-12-16 03:55:03,7,2,Here is another avoidance statement from USC P...
4,1471320094693150720,2021-12-16 03:23:41,13,3,The circus at USC continues; its top faculty s...
...,...,...,...,...,...
91,1469673546892787712,2021-12-11 14:20:53,31,13,Here is another review of the causal revolutio...
92,1469650695213125637,2021-12-11 12:50:05,1,0,@RWJE_BA If you write a well-reasoned critique...
93,1469644423214419968,2021-12-11 12:25:09,23,5,Billoo and @Cair are totally misguided about I...
94,1469644422480494592,2021-12-11 12:25:09,14,1,"Zionists are behind Islamophobia, US police br..."
95,1469637423676092418,2021-12-11 11:57:21,16,2,The relationship between the individual causal...

## <a id='8.2.1.'>8.2.1. Get tweets in a date range </a>

In [268]:
startDate = datetime.datetime(2021, 10, 12, 0, 0, 0)
endDate =   datetime.datetime(2021, 10, 30, 0, 0, 0)

In [309]:
tweets = []
tmpTweets = api.user_timeline(screen_name=userID, 
                             count=100,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended')

In [310]:
for tweet in tmpTweets:
#    print(tweet.created_at)
    if tweet.created_at < endDate and tweet.created_at > startDate:
        tweets.append(tweet)

In [311]:
while ( tmpTweets[-1].created_at > startDate):
    tmpTweets = api.user_timeline(userID, max_id = tmpTweets[-1].id, tweet_mode = 'extended', include_rts = False, count = 100 )
    for tweet in tmpTweets:
        if tweet.created_at < endDate and tweet.created_at > startDate:
            tweets.append(tweet)

In [312]:
outtweets2 = [[tweet1.id_str, 
              tweet1.created_at, 
              tweet1.favorite_count, 
              tweet1.retweet_count, 
              tweet1.full_text.encode("utf-8").decode("utf-8")] 
             for idx,tweet1 in enumerate(tweets)]

In [313]:
df = DataFrame( outtweets2, columns = [ "id","created_at","favorite_count","retweet_count", "text" ] )

In [314]:
df

,id,created_at,favorite_count,retweet_count,text
0,1454082045785694214,2021-10-29 13:45:49,0,0,@AnothrAtheistJu No idea. I was focusing on th...
1,1454080984660410369,2021-10-29 13:41:36,15,1,Some runners make my heart jump - must share. ...
2,1454046053582336004,2021-10-29 11:22:48,7,2,@IfJews I dare consider @PeterBeinart an X-Jew...
3,1454035523937337350,2021-10-29 10:40:58,3,0,"@_goose_god @ThManfredi Not necessariamente, j..."
4,1453989356826361857,2021-10-29 07:37:31,46,13,"FYI, after studying the issue with colleagues ..."
...,...,...,...,...,...
151,1447744928344203267,2021-10-12 02:04:23,0,0,"@AaronMeininger I don't get it, sorry."
152,1447742605119279108,2021-10-12 01:55:09,6,0,@KordingLab @metrics52 The method is correct i...
153,1447742605119279108,2021-10-12 01:55:09,6,0,@KordingLab @metrics52 The method is correct i...
154,1447716684538646531,2021-10-12 00:12:09,6,0,@KordingLab This is precisely the point. Once ...
155,1447714559435816967,2021-10-12 00:03:42,7,1,@EdKwangl @constant_hevia @ocampo_emilio @guid...

## <a id ='8.3.'>8.3. Request tweet </a>

In [64]:

# For sending GET requests from the API
import requests
# For saving access tokens and for file management when creating and adding to the dataset
import os
# For dealing with json responses we receive from the API
import json
# For displaying the data after
import pandas as pd
# For saving the response data in CSV format
import csv
# For parsing the dates received from twitter in readable formats
import datetime
import dateutil.parser
import unicodedata
#To add wait time between requests
import time

## <a id ='8.3.1.'>8.3.1. Getting ID of username - [jmwooldridge](https://twitter.com/jmwooldridge) </a>

In [171]:
class request_id:
    
    def __init__( self, token):
        self.token = token
    
    def create_url( self, user_name ):
        # Specify the usernames that you want to lookup below
        # You can enter up to 100 comma-separated values.
        usernames = f"usernames={ user_name }"
        user_fields = "user.fields=description,created_at"
        # User fields are adjustable, options include:
        # created_at, description, entities, id, location, name,
        # pinned_tweet_id, profile_image_url, protected,
        # public_metrics, url, username, verified, and withheld
        url = "https://api.twitter.com/2/users/by?{}&{}".format(usernames, user_fields)
        self.url = url


    def bearer_oauth( self, r ):
        """
        Method required by bearer token authentication.
        """

        r.headers["Authorization"] = f"Bearer {self.token}"
        r.headers["User-Agent"] = "v2UserLookupPython"
        
        self.r = r
        return r


    def connect_to_endpoint( self ):
        url = self.url
        response = requests.request("GET", url, auth= self.bearer_oauth,)
        print(response.status_code)
        if response.status_code != 200:
            raise Exception(
                "Request returned an error: {} {}".format(
                    response.status_code, response.text
                )
            )
            
        return response.json()

Token

In [315]:
Bearer_Token = "AAAAAAAAAAAAAAAAAAAAAHqDOQEAAAAAPA5oeW2gyTdgJwB9SSD%2BNKA%2FJ%2Bw%3DX2kzyM5P5njVWdRPVKfkvExHpPFeQIPvsTremmSp3ygCjTNoUd"
get_id_woold = request_id( Bearer_Token )

Username

In [174]:
get_id_woold.create_url( 'jmwooldridge' )

result = get_id_woold.connect_to_endpoint()

200

Getting Data

In [166]:
id_woold = result['data'][0]['id']
id_woold

## <a id = '8.3.2.'>8.3.2. [Getting Tweets Timeline](https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/introduction) - [jmwooldridge](https://twitter.com/jmwooldridge) </a> 

The endpoint can return the 3,200 most recent Tweets, Retweets, replies and Quote Tweets posted by the user. <br>
The user Tweet timeline also supports the ability to specify `start_time` and `end_time` parameters to receive Tweets that were created within a certain window of time.

In [213]:
def create_url(  user_id ):
    # Replace with user ID below
    return "https://api.twitter.com/2/users/{}/tweets".format(user_id)


def get_params():
    # Tweet fields are adjustable.
    # Options include:
    # attachments, author_id, context_annotations,
    # conversation_id, created_at, entities, geo, id,
    # in_reply_to_user_id, lang, non_public_metrics, organic_metrics,
    # possibly_sensitive, promoted_metrics, public_metrics, referenced_tweets,
    # source, text, and withheld
    return {"tweet.fields": "created_at", "max_results" : 100 }


def bearer_oauth(r):
    """
    Method required by bearer token authentication.
    """
    r.headers["Authorization"] = f"Bearer {bearer_token}"
    r.headers["User-Agent"] = "v2UserTweetsPython"
    return r


def connect_to_endpoint(url, params, next_token = None ):
    params['pagination_token'] = next_token
    response = requests.request("GET", url, auth=bearer_oauth, params=params)
    print(response.status_code)
    if response.status_code != 200:
        raise Exception(
            "Request returned an error: {} {}".format(
                response.status_code, response.text
            )
        )
    return response.json()

In [214]:
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAHqDOQEAAAAAPA5oeW2gyTdgJwB9SSD%2BNKA%2FJ%2Bw%3DX2kzyM5P5njVWdRPVKfkvExHpPFeQIPvsTremmSp3ygCjTNoUd'

In [241]:
url = create_url( id_woold )
param = get_params()
result = connect_to_endpoint( url, param)

200

In [242]:
data = result['data']

In [245]:
next_token = 'next_token' in result['meta'].keys()
page = 1
while next_token == True:
    try:
        restult = connect_to_endpoint( url, param, result['meta']['next_token'] )
        data = data + result['data']
    except:
        next_token = False
    
    if page > 33:
        next_token = False
    
    page = page + 1

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

In [246]:
df = pd.DataFrame( data )

In [255]:
df.iloc[ 3200:, :]

,created_at,id,text
3200,2021-12-16T04:21:28.000Z,1471334639986003968,I must look ridiculous waving my arms when I l...
3201,2021-12-16T03:56:21.000Z,1471328315747221510,"@pedrohcgs @agoodmanbacon Oops. Well, I was th..."
3202,2021-12-16T03:25:42.000Z,1471320603776983046,@agoodmanbacon I think mine was scheduled first!
3203,2021-12-16T00:40:24.000Z,1471279005349339138,@KoyoRain @KyleCSN @linstonwin These are preci...
3204,2021-12-16T00:35:58.000Z,1471277890125844480,"Now that the DiD webinar is over, I have a cru..."
...,...,...,...
3495,2021-12-03T15:40:26.000Z,1466794463804772352,https://t.co/vip0b8Pf7A\n\nNick's homepage:\nh...
3496,2021-12-03T15:40:26.000Z,1466794462517026818,We show how to properly do inference with pool...
3497,2021-12-03T15:40:25.000Z,1466794461078433797,We allow more dependence across components and...
3498,2021-12-03T15:40:25.000Z,1466794459690065926,The CCE approach has been used mostly for larg...
3499,2021-12-03T15:40:25.000Z,1466794458268250120,Below is a link to a new paper by Nick Brown (...

As we can see, there are duplicates observations since We are allowed to request only 3200 tweets.

In [251]:
df.iloc[ :3200, :]

,created_at,id,text
0,2021-12-16T04:21:28.000Z,1471334639986003968,I must look ridiculous waving my arms when I l...
1,2021-12-16T03:56:21.000Z,1471328315747221510,"@pedrohcgs @agoodmanbacon Oops. Well, I was th..."
2,2021-12-16T03:25:42.000Z,1471320603776983046,@agoodmanbacon I think mine was scheduled first!
3,2021-12-16T00:40:24.000Z,1471279005349339138,@KoyoRain @KyleCSN @linstonwin These are preci...
4,2021-12-16T00:35:58.000Z,1471277890125844480,"Now that the DiD webinar is over, I have a cru..."
...,...,...,...
3195,2021-12-03T15:40:26.000Z,1466794463804772352,https://t.co/vip0b8Pf7A\n\nNick's homepage:\nh...
3196,2021-12-03T15:40:26.000Z,1466794462517026818,We show how to properly do inference with pool...
3197,2021-12-03T15:40:25.000Z,1466794461078433797,We allow more dependence across components and...
3198,2021-12-03T15:40:25.000Z,1466794459690065926,The CCE approach has been used mostly for larg...
3199,2021-12-03T15:40:25.000Z,1466794458268250120,Below is a link to a new paper by Nick Brown (...

## <a id='8.4.'>8.4. References</a>

https://towardsdatascience.com/an-extensive-guide-to-collecting-tweets-from-twitter-api-v2-for-academic-research-using-python-3-518fcb71df2a

https://fairyonice.github.io/extract-someones-tweet-using-tweepy.html